.Navigation{
  background: color(orange);
  @media (max-width: 991px) {
    padding:10px 0;
  }
  &-item{
    .button-bars{
      display: none;
      @media (max-width: 991px) {
        display: block;
        //margin-bottom: 2rem;
      }
      i{
        font-size: 2rem;
        color: color(white);
      }
    }
  }
  .list-item-group{
    margin-bottom: 0;
    &.horizon{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @media (max-width: 991px) {
         max-height: 0;
         overflow:hidden;
         transition: .5s;
      }
      &.active{
        @media (max-width: 991px) {
         max-height: 100vh;
        }
      }
      .list-item {
        margin-left: 2rem;
        @media (max-width: 991px) {
          width: 100%;
          margin: 0;
        }
        position: relative;
        padding: 10px 0;

        .has-dropdown-list{
          position: absolute;
          width: 200px;
          left: 0;
          background: white;
          top: 100%;
          box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
          z-index: 9;
          transition: .5s;
          transform: translateY(20%);
          opacity: 0;
          visibility: hidden;

          @media (max-width: 991px) {
            position: static;
            width: 100%;
            opacity: 1;
            visibility: visible;
            transform: translateY(0%);
            background: unset;
            box-shadow: unset;
            max-height: 0;
            overflow: hidden;

            &.show{
              max-height: 100vh;
              padding-left: 20px;
            }
            .list-item{
              .list-item-link{
                color: white!important;
              }
            }
          }
          .list-item{
            .list-item-link{
              color: black;
            }
          }
        }
        &.has-dropdown:hover .has-dropdown-list{
          transform: translateY(0%);
          opacity: 1;
          visibility: visible;
        }
        .list-item-link{
          font-size: 14px;
          color: color(white);
          text-transform: capitalize;
          @media (max-width: 991px) {
            padding: .5rem 0;
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}