.BookDetailSection.flex.flex-wrap.items-start.justify-between
  .BookDetailSection-col
    .BookDetailSection-preview.flex.items-start
      .BookDetailSection-preview-list
        .BookDetailSection-preview-list-arrow.prev 
          img(src="./assets/icons/icon-angle-up-gray-light.svg", alt="")

        .BookDetailSection-preview-list-group
          each item in [1,2,3,4,5]
            .BookDetailSection-preview-list-item 
              img(src="./assets/images/image-books-group.png", alt="")
        
        .BookDetailSection-preview-list-arrow.next
          img(src="./assets/icons/icon-angle-down-gray-light.svg", alt="")

        //- .owl-carousel#BookDetailSection-list
        //-   each item in [1,2,3,4,5]
        //-     .item
        //-       .BookDetailSection-preview-list-item 
        //-         img(src="./assets/images/image-books-group.png", alt="")


      .BookDetailSection-preview-carousel-wrapper
        .BookDetailSection-preview-carousel 
          .owl-carousel#BookDetailSection-carousel 
            each item in [1,2,3,4,5]
              .item 
                .BookDetailSection-preview-carousel-item 
                  img(src="./assets/images/image-books-group.png", alt="")

        .BookDetailSection-actions.flex.items-center.justify-center.auto
          +Button({ size: 'small-middle', title: 'Đọc thử', iconImage: './assets/icons/icon-book-green.svg', styleType: 'outline-green' })
          +Button({ size: 'small-middle', title: 'Nghe thử', iconImage: './assets/icons/icon-headphone-blue.svg', styleType: 'outline-primary' })

  .BookDetailSection-col
    .BookDetailSection-title Giáo trình Lịch sử kiến trúc thế giới
    .BookDetailSection-subtitle= `Subtitle: Bộ sách gồm 2 tập\n“Giáo trình Lý thuyết xác suất và thống kê toán” được biên soạn cho sinh viên kinh tế và quản trị kinh doanh sau khi đã được trang bị các kiến thức cơ bản về toán cao cấp bao gồm giải tích cổ điển và đại số tuyến tính.`
    .BookDetailSection-values.flex.flex-wrap.items-center 
      .BookDetailSection-values-item.flex.items-center
        .BookDetailSection-values-item-number 4.5
        .BookDetailSection-values-item-label.flex.items-center 
          each item in [1,2,3,4,5]
            img(src="./assets/icons/icon-star-yellow.svg" alt="")
      .BookDetailSection-values-item.flex.items-center
        .BookDetailSection-values-item-number 52358
        .BookDetailSection-values-item-label Lượt xem
      .BookDetailSection-values-item.flex.items-center
        .BookDetailSection-values-item-number 3639
        .BookDetailSection-values-item-label Đã bán

    table.BookDetailSection-table
      thead 
        tr 
          td STT
          td Tựa sách
          td Link đọc
      each item in [1, 2]
        tr 
          td= item
          td= `Giáo trình lịch sử kiến trúc thế giới tập ${item}`
          td #[a(href="#") Đọc sách]
      

    .BookDetailSection-actions(style="margin-top: 40px").full-size
      +Button({ size: 'middle', title: 'Lưu vào tủ sách', iconImage: './assets/icons/icon-bookmark-outline-white.svg', styleType: 'green' })

