.PostDetail
  .PostDetail-title Tổng kết Cuộc thi Đại sứ văn hóa đọc trong Công an nhân dân năm 2021
  .PostDetail-description Thứ Ba, 19/10/2021 14:48

  .PostDetail-content 
    h3 Ngày 19/10, tại Hà Nội, Bộ Công an tổ chức Lễ tổng kết, trao thưởng Cuộc thi Đại sứ văn hóa đọc trong Công an nhân dân năm 2021. 

    figure
      img(src="./assets/images/image-post-carousel.png", alt="")
      figcaption Hình ảnh lễ tổng kết và trao thưởng cuộc thi đại sứ văn hóa đọc trong công an nhân dân năm 2021

    p Cuộc thi được tổ chức nhằm lan tỏa, truyền cảm hứng cho cán bộ, chiến sĩ, học viên, sinh viên có thêm niềm đam mê đối với sách, hình thành lối sống lành mạnh, tăng khả năng sáng tạo trong rèn luyện, công tác, học tập; khai thác và sử dụng có hiệu quả nguồn tài nguyên thông tin thư viện và phát triển mạnh mẽ văn hóa đọc trong Công an nhân dân.
    p Qua hơn 4 tháng tổ chức phát động, Cuộc thi đã nhận được sự tham gia của 103 đơn vị với 313.695 bài thi; trong đó, 3.185 bài thi đạt chất lượng tốt nhất được gửi về Ban Tổ chức. Sau 3 vòng chấm tập trung, công tâm và khách quan, đảm bảo quy chế, thể lệ, thang bảng điểm, Ban Giám khảo đã lựa chọn được các bài đạt chất lượng xuất sắc, đảm bảo quy chế và các tiêu chí của cuộc thi. Các bài thi được thể hiện rõ ràng, khoa học, sáng tạo; cán bộ, chiến sĩ đã bám sát câu hỏi và hiểu ý nghĩa của cuộc thi.

    figure
      img(src="./assets/images/image-post-carousel.png", alt="")
      figcaption Hình ảnh lễ tổng kết và trao thưởng cuộc thi đại sứ văn hóa đọc trong công an nhân dân năm 2021

    p Cuộc thi được tổ chức nhằm lan tỏa, truyền cảm hứng cho cán bộ, chiến sĩ, học viên, sinh viên có thêm niềm đam mê đối với sách, hình thành lối sống lành mạnh, tăng khả năng sáng tạo trong rèn luyện, công tác, học tập; khai thác và sử dụng có hiệu quả nguồn tài nguyên thông tin thư viện và phát triển mạnh mẽ văn hóa đọc trong Công an nhân dân.
    p Qua hơn 4 tháng tổ chức phát động, Cuộc thi đã nhận được sự tham gia của 103 đơn vị với 313.695 bài thi; trong đó, 3.185 bài thi đạt chất lượng tốt nhất được gửi về Ban Tổ chức. Sau 3 vòng chấm tập trung, công tâm và khách quan, đảm bảo quy chế, thể lệ, thang bảng điểm, Ban Giám khảo đã lựa chọn được các bài đạt chất lượng xuất sắc, đảm bảo quy chế và các tiêu chí của cuộc thi. Các bài thi được thể hiện rõ ràng, khoa học, sáng tạo; cán bộ, chiến sĩ đã bám sát câu hỏi và hiểu ý nghĩa của cuộc thi.

  .PostDetail-author Xuân Tùng (TTXVN)