.PostCarousel.owl-carousel
  each item in [1,2,3]
    .item 
      .PostCarousel-item 
        .PostCarousel-item-image
          img(src="./assets/images/image-post-carousel.png", alt="")
        .PostCarousel-item-info
          .PostCarousel-item-info-content 
            p Từ ngày 13/4/2022 đến ngày 14/4/2022, Nhà xuất bản Xây dựng sẽ tham dự Ngày Sách và Văn hóa đọc do trường Đại học Công nghệ Giao thông vận tải tổ chức tại địa chỉ  54 Triều Khúc, Thanh Xuân Nam, Thanh Xuân, Hà Nội
            p Nhà xuất bản Xây dựng tham gia Ngày sách và Văn hóa đọc -Trường Đại học Công nghệ Giao thông Vận tải
            