.Breadcrumb {
  padding: 10px 12px;
  background: color(white);
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  @media (max-width: 991px) {
    border-bottom: 1px solid color(alto);
    border-radius: 0;
    margin-bottom: 0 !important;
  }

  &-item {
    font-size: 14px;
    color: color(mine-shaft);
    transition: $common-transition;
    white-space: nowrap;
    &.active{
      a{
        color: color(orange);
        text-decoration: none;
        &:hover{
          color: color(orange);
        }
      }
      &::before{
        content: "/\00a0";
        padding: 0 5px;
        color: #ccc;
      }
    }

    a {
      font-size: 14px;
      color: color(mine-shaft);
      transition: $common-transition;
      &:hover{
        color: color(orange);
      }
    }
  }
}