.Breadcrumb {
  padding: 10px 12px;
  background: color(white);
  border-radius: 5px;
  margin-bottom: 15px;

  @media (max-width: 991px) {
    border-bottom: 1px solid color(alto);
    border-radius: 0;
    margin-bottom: 0 !important;
  }

  &-item {
    font-size: 13px;
    color: color(mine-shaft);
    transition: $common-transition;
    white-space: nowrap;

    a {
      font-size: 13px;
      color: color(mine-shaft);
      transition: $common-transition;
    }

    &.hightlight,
    &:hover {
      color: color(azure-radiance);

      a {
        color: color(azure-radiance);
      }
    }

    &.separator {
      display: block;
      margin: 0 4px;
    }
  }
}