-
  const dataCardInfoStatistical1 = [
    { icon: './assets/icons/icon-traffic-light.svg', label: 'Số thành viên: ', value: '319234' },
    { icon: './assets/icons/icon-login.svg', label: 'Đang trực tuyến: ', value: '312' },
    { icon: './assets/icons/icon-walk.svg', label: 'Khách:', value: '15' },
  ]
  const dataListItemgroup = [
    {title: 'BUY PROXY', link: 'BuyProxy.html'},
    {title: 'PRICES', link: 'Price.html'},
    {title: 'FAQ', link: '#'},
    {title: 'Partnership program', link: 'PartnerShip.html'},
  ]
  const dataNavigation = [
    {title: 'Proxy checker', link: 'javascript:void(0)'},
    {title: 'My Ip', link: 'javascript:void(0)'},
    {title: 'My anonymity', link: 'javascript:void(0)'},
    {title: 'Blacklist', link: 'javascript:void(0)'},
    {title: 'Whois', link: 'javascript:void(0)'},
    {title: 'Ports scanner', link: 'javascript:void(0)'},
    {title: 'Website IPv6 support', link: 'javascript:void(0)'},
    {title: 'API', link: 'javascript:void(0)'},
  ]
  const dataFooter = [
    {title: 'Proxy checker', link: '#'},
    {title: 'Prices', link: '#'},
    {title: 'FAQ', link: '#'},
    {title: 'Blog', link: 'blogList.html'},
    {title: 'API', link: '#'},
    {title: 'Terms of use', link: '#'},
    {title: 'Contacts', link: '#'},
  ]
  const paymentMethod = [
    {
      'src' : 'https://proxy6.net/static/img/pay_ya.png'
    },{
      'src' : 'https://proxy6.net/static/img/pay_ya.png'
    },{
      'src' : 'https://proxy6.net/static/img/pay_ya.png'
    },{
      'src' : 'https://proxy6.net/static/img/pay_ya.png'
    },{
      'src' : 'https://proxy6.net/static/img/pay_ya.png'
    },{
      'src' : 'https://proxy6.net/static/img/pay_ya.png'
    },
  ]
  const features = [
    {
      title: 'Check IPv4 and IPv6 proxy availability',
      link: '#'
    },{
      title: 'Check IPv4 and IPv6 proxy availability',
      link: '#'
    },{
      title: 'Check IPv4 and IPv6 proxy availability',
      link: '#'
    },{
      title: 'Check IPv4 and IPv6 proxy availability',
      link: '#'
    },{
      title: 'Check IPv4 and IPv6 proxy availability',
      link: '#'
    },{
      title: 'Check IPv4 and IPv6 proxy availability',
      link: '#'
    },
  ]
  const CountryList = [
    {
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ru',
      status: 'label-success',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'nl',
      status: 'label-warning',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ua',
      status: 'label-default',
      number: 222,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ru',
      status: 'label-success',
      number: 1,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ru',
      status: 'label-success',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'nl',
      status: 'label-warning',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ua',
      status: 'label-default',
      number: 222,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ru',
      status: 'label-success',
      number: 1,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ru',
      status: 'label-success',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'nl',
      status: 'label-warning',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ua',
      status: 'label-default',
      number: 222,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ru',
      status: 'label-success',
      number: 1,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ru',
      status: 'label-success',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'nl',
      status: 'label-warning',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'nl',
      status: 'label-warning',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'nl',
      status: 'label-warning',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'nl',
      status: 'label-warning',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'nl',
      status: 'label-warning',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'nl',
      status: 'label-warning',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'nl',
      status: 'label-warning',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'nl',
      status: 'label-warning',
      number: 13816,
    },
  ]
  const PriceCountryList = [
    {
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ru',
      status: 'label-success',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'nl',
      status: 'label-warning',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ua',
      status: 'label-default',
      number: 222,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ru',
      status: 'label-success',
      number: 1,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ru',
      status: 'label-success',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'nl',
      status: 'label-warning',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ua',
      status: 'label-default',
      number: 222,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ru',
      status: 'label-success',
      number: 1,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'ru',
      status: 'label-success',
      number: 13816,
    },{
      src:'./assets/images/vietnam-flag.png',
      title: '',
      country: 'nl',
      status: 'label-warning',
      number: 13816,
    },
  ]
  const listFaq = [
    {title: 'Why use a proxy?', link: '#'},
    {title: 'How long does it take to receive proxy after the payment?', link: '#'},
    {title: 'What are the differences between your and competitors’ proxies?', link: '#'},
    {title: 'How to renew proxy?', link: '#'},
    {title: 's the 25 port open?', link: '#'},
    {title: 'Can be accessed through proxy websites from the registry of banned sites Roskomnadzor?', link: '#'},
    {title: 'Qiwi and Paypal are available through a proxy?', link: '#'},
  ]