.AuthorsModal {
  &-main {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    background: color(white);
    width: calc(100% - 30px);
    max-width: 730px;
  }

  &-wrapper {
    &-item {
      padding: 8px;
      margin: 12px 0;
      flex: 0 0 calc(100% / 4);
      max-width: calc(100% / 4);

      @media (max-width: 991px) {
        flex: 0 0 calc(100% / 2);
        max-width: calc(100% / 2);
      }
    }
  }

  &-name {
    margin-top: 8px;
    font-weight: 500;
    color: color(emperor);
    font-size: 14px;
    text-align: center;
  }

  .Avatar {
    flex: 0 0 58px;
    width: 58px;
    max-width: 58px;
    height: 58px;

    @media (max-width: 991px) {
      flex: 0 0 38px;
      max-width: 38px;
      width: 38px;
      height: 38px;
    }

    &-check {
      width: 14px;
      height: 14px;
    }
  }
}