extends includes/layouts/Layout.pug

block pages
    .blog-detail.pt-5.pb-5
        .container
            ul.Breadcrumb
                li.Breadcrumb-item(aria-current='page')
                    a(href="#") Home
                li.Breadcrumb-item.active(aria-current='page')
                    a(href="#") Blog Detail
        .container
            .blog-detail-content.content-ckeditor
                strong SMMPlanner
                |  - &scy;&iecy;&rcy;&vcy;&icy;&scy; &pcy;&ocy;&zcy;&vcy;&ocy;&lcy;&yacy;&iecy;&tcy; &scy;&ocy;&vcy;&iecy;&rcy;&shcy;&acy;&tcy;&softcy; &icy; &ncy;&acy;&scy;&tcy;&rcy;&ocy;&icy;&tcy;&softcy; &ocy;&tcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&ncy;&ycy;&iecy; &pcy;&ucy;&bcy;&lcy;&icy;&kcy;&acy;&tscy;&icy;&icy; &vcy; &scy;&ocy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &scy;&iecy;&tcy;&icy;, &tcy;&acy;&kcy;&icy;&iecy; &kcy;&acy;&kcy; &Vcy;&kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&iecy;, Instagram, Facebook, Twitter &icy; &Ocy;&dcy;&ncy;&ocy;&kcy;&lcy;&acy;&scy;&scy;&ncy;&icy;&kcy;&icy;.
                br
                | &Vcy; &ecy;&tcy;&ocy;&jcy; &icy;&ncy;&scy;&tcy;&rcy;&ucy;&kcy;&tscy;&icy;&icy; &mcy;&ycy; &rcy;&acy;&scy;&scy;&mcy;&ocy;&tcy;&rcy;&icy;&mcy;, &kcy;&acy;&kcy; &pcy;&ocy;&dcy;&kcy;&lcy;&yucy;&chcy;&icy;&tcy;&softcy; &icy;&ncy;&dcy;&icy;&vcy;&icy;&dcy;&ucy;&acy;&lcy;&softcy;&ncy;&ycy;&jcy; IPv6 &kcy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&ucy; SMMPlanner.
                br
                br
                div
                    img(style='display: block; margin-left: auto; margin-right: auto;' src='https://proxy6.net/uploads/img/20180127/8308198c2a5258f16f5802a9c87816ed.jpg')
                br
                strong &Pcy;&iecy;&rcy;&vcy;&ycy;&jcy; &shcy;&acy;&gcy;
                |  &rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&icy;&rcy;&ucy;&iecy;&mcy;&scy;&yacy;/&acy;&vcy;&tcy;&ocy;&rcy;&icy;&zcy;&ucy;&iecy;&mcy;&scy;&yacy; &ncy;&acy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&iecy;. &Dcy;&acy;&lcy;&iecy;&iecy; &pcy;&iecy;&rcy;&iecy;&khcy;&ocy;&dcy;&icy;&mcy; &vcy; &scy;&vcy;&ocy;&jcy; &acy;&kcy;&kcy;&acy;&ucy;&ncy;&tcy; &icy; &vcy;&ycy;&bcy;&icy;&rcy;&acy;&iecy;&mcy; &rdquo;
                strong &Mcy;&ocy;&icy; &pcy;&rcy;&ocy;&kcy;&scy;&icy;
                | &rdquo;.
                br
                br
                div
                    img(style='display: block; margin-left: auto; margin-right: auto;' src='https://proxy6.net/uploads/img/20180127/f9675857fba687d464be1e6fd897b266.jpg')
                br
                | &Dcy;&acy;&lcy;&iecy;&iecy; &ncy;&acy;&mcy; &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ocy; &acy;&kcy;&tcy;&icy;&vcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&softcy; &quot;
                strong &Icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &scy;&vcy;&ocy;&icy;&khcy; &pcy;&rcy;&ocy;&kcy;&scy;&icy;
                | &quot;.
                br
                | &Ocy;&tcy;&kcy;&rcy;&ycy;&vcy;&acy;&iecy;&mcy; &rcy;&acy;&zcy;&dcy;&iecy;&lcy; &quot;
                strong &Tcy;&acy;&rcy;&icy;&fcy;&ycy; &icy; &ucy;&scy;&lcy;&ucy;&gcy;&icy;
                | &quot; &gt;&gt; &quot;
                strong &Dcy;&ocy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &ucy;&scy;&lcy;&ucy;&gcy;&icy;
                | &quot; &gt;&gt; &quot;
                strong &Icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &scy;&vcy;&ocy;&icy;&khcy; &pcy;&rcy;&ocy;&kcy;&scy;&icy;
                | &quot; &gt;&gt; &quot;
                strong &Kcy;&ucy;&pcy;&icy;&tcy;&softcy;
                | &quot; (&acy;&kcy;&tcy;&icy;&vcy;&icy;&rcy;&ucy;&iecy;&mcy; &ecy;&tcy;&ucy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&softcy;).
                br
                br
                div
                    img(style='display: block; margin-left: auto; margin-right: auto;' src='https://proxy6.net/uploads/img/20180127/24514c63ea6b01c2530d8be158cfba1c.jpg')
                br
                | &Pcy;&ocy;&scy;&lcy;&iecy; &acy;&kcy;&tcy;&icy;&vcy;&acy;&tscy;&icy;&icy; &ucy;&scy;&lcy;&ucy;&gcy;&icy; &quot;&Icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &scy;&vcy;&ocy;&icy;&khcy; &pcy;&rcy;&ocy;&kcy;&scy;&icy;&quot; &scy;&ncy;&ocy;&vcy;&acy; &pcy;&iecy;&rcy;&iecy;&khcy;&ocy;&dcy;&icy;&mcy; &vcy; &rcy;&acy;&zcy;&dcy;&iecy;&lcy; &quot;
                strong &Mcy;&ocy;&icy; &pcy;&rcy;&ocy;&kcy;&scy;&icy;
                | &quot; &icy; &ncy;&acy;&zhcy;&icy;&mcy;&acy;&iecy;&mcy; &quot;
                strong &Dcy;&ocy;&bcy;&acy;&vcy;&icy;&tcy;&softcy;/&rcy;&iecy;&dcy;&acy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &pcy;&rcy;&ocy;&kcy;&scy;&icy;
                | &quot;.
                br
                br
                div
                    img(style='display: block; margin-left: auto; margin-right: auto;' src='https://proxy6.net/uploads/img/20180127/06e83a63cf4864dde6ad9ea4aa11ff28.jpg')
                br
                | &Dcy;&acy;&lcy;&iecy;&iecy; &ncy;&acy;&zhcy;&icy;&mcy;&acy;&iecy;&mcy; &quot;
                strong &Dcy;&ocy;&bcy;&acy;&vcy;&icy;&tcy;&softcy; &pcy;&rcy;&ocy;&kcy;&scy;&icy;
                | &quot;:
                br
                br
                div
                    img(style='display: block; margin-left: auto; margin-right: auto;' src='https://proxy6.net/uploads/img/20180127/1f75f66a0a95b7cb8a869ef86a49b8d6.jpg')
                br
                | &Vcy; &ocy;&tcy;&kcy;&rcy;&ycy;&vcy;&shcy;&iecy;&mcy;&scy;&yacy; &ocy;&kcy;&ncy;&iecy; &vcy;&vcy;&ocy;&dcy;&icy;&mcy; &dcy;&acy;&ncy;&ncy;&ycy;&iecy; (&pcy;&iecy;&rcy;&iecy;&dcy; &dcy;&ocy;&bcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&iecy;&mcy; &ncy;&acy;&pcy;&icy;&shcy;&icy;&tcy;&iecy; &ncy;&acy;&mcy; &vcy; &chcy;&acy;&tcy; &dcy;&lcy;&yacy; &ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy; &tcy;&ucy;&ncy;&ncy;&iecy;&lcy;&yacy; &dcy;&lcy;&yacy; &vcy;&acy;&shcy;&iecy;&gcy;&ocy; IPv6 &pcy;&rcy;&ocy;&kcy;&scy;&icy;, &dcy;&lcy;&yacy; &ncy;&acy;&scy;&tcy;&rcy;&ocy;&jcy;&kcy;&icy; IPv4 &ncy;&icy;&chcy;&iecy;&gcy;&ocy; &ocy;&tcy;&kcy;&rcy;&ycy;&vcy;&acy;&tcy;&softcy; &ncy;&iecy; &ncy;&acy;&dcy;&ocy;) &ncy;&acy;&shcy;&iecy;&gcy;&ocy; &pcy;&rcy;&ocy;&kcy;&scy;&icy;.
                br
                br
                | &Pcy;&rcy;&icy;&mcy;&iecy;&rcy; (81.177.180.147:16148)
                br
                br
                strong IP
                | : 81.177.180.147
                br
                strong &Pcy;&ocy;&rcy;&tcy;
                | : 16148
                br
                strong &Tcy;&icy;&pcy;
                | : HTTPS
                br
                strong &Icy;&mcy;&yacy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;
                | : bPH6ra
                br
                strong &Pcy;&acy;&rcy;&ocy;&lcy;&softcy;
                | : JZf3rj
                br
                br
                | &Dcy;&acy;&ncy;&ncy;&ycy;&iecy; &ocy;&tcy; &pcy;&rcy;&ocy;&kcy;&scy;&icy; &bcy;&iecy;&rcy;&iecy;&mcy; &icy;&zcy; &lcy;&icy;&chcy;&ncy;&ocy;&gcy;&ocy; &kcy;&acy;&bcy;&icy;&ncy;&iecy;&tcy;&acy; &ncy;&acy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&iecy; &quot;&Mcy;&ocy;&icy; &pcy;&rcy;&ocy;&kcy;&scy;&icy;&quot;.
                br
                | &Pcy;&ocy;&scy;&lcy;&iecy; &tcy;&ocy;&gcy;&ocy; &kcy;&acy;&kcy; &dcy;&acy;&ncy;&ncy;&ycy;&iecy; &vcy;&vcy;&iecy;&dcy;&iecy;&ncy;&ycy;, &ncy;&acy;&zhcy;&icy;&mcy;&acy;&iecy;&mcy; &quot;
                strong &Dcy;&ocy;&bcy;&acy;&vcy;&icy;&tcy;&softcy;
                | &quot;.
                br
                br
                div
                    img(style='display: block; margin-left: auto; margin-right: auto;' src='https://proxy6.net/uploads/img/20180127/869bbe108591112bb1cd48d04a9483c5.jpg')
                br
                | &Ocy;&zhcy;&icy;&dcy;&acy;&iecy;&mcy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &scy;&iecy;&kcy;&ucy;&ncy;&dcy; &icy; &ocy;&bcy;&ncy;&ocy;&vcy;&lcy;&yacy;&iecy;&mcy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&ucy;, &iecy;&scy;&lcy;&icy; &vcy;&scy;&iocy; &ncy;&acy;&scy;&tcy;&rcy;&ocy;&icy;&lcy;&icy; &vcy;&iecy;&rcy;&ncy;&ocy; &scy;&tcy;&acy;&tcy;&ucy;&scy; &pcy;&rcy;&ocy;&kcy;&scy;&icy; &bcy;&ucy;&dcy;&iecy;&tcy; &quot;
                span(style='background-color: #99cc00;')
                    strong OK
                | &quot;.
                br
                br
                div
                    img(style='display: block; margin-left: auto; margin-right: auto;' src='https://proxy6.net/uploads/img/20180127/4081cc66370941c5170e985e276f6498.jpg')
                br
                | &Pcy;&ocy;&scy;&lcy;&iecy; &ecy;&tcy;&ocy;&gcy;&ocy; &vcy;&ycy;&bcy;&icy;&rcy;&acy;&iecy;&mcy; &quot;
                strong &Ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&icy;&tcy;&softcy; &pcy;&rcy;&ocy;&kcy;&scy;&icy; &dcy;&lcy;&yacy; &acy;&kcy;&kcy;&acy;&ucy;&ncy;&tcy;&ocy;&vcy; Instagram
                | &quot;, &dcy;&acy;&lcy;&iecy;&iecy; &vcy;&ycy;&bcy;&icy;&rcy;&acy;&iecy;&mcy; &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ycy;&jcy; &acy;&kcy;&kcy;&acy;&ucy;&ncy;&tcy;.
                br
                br
                div
                    img(style='display: block; margin-left: auto; margin-right: auto;' src='https://proxy6.net/uploads/img/20180127/fcdf54e69d0988a6428bacf8e555fa0a.jpg')
                br
                | &Vcy; &ncy;&ocy;&vcy;&ocy;&mcy; &ocy;&kcy;&ncy;&iecy; &vcy;&ycy;&bcy;&icy;&rcy;&acy;&iecy;&mcy; &pcy;&rcy;&ocy;&kcy;&scy;&icy; &dcy;&lcy;&yacy; &acy;&kcy;&kcy;&acy;&ucy;&ncy;&tcy;&acy; &icy; &ncy;&acy;&zhcy;&icy;&mcy;&acy;&iecy;&mcy; &quot;
                strong &Pcy;&ocy;&dcy;&tcy;&vcy;&iecy;&rcy;&dcy;&icy;&tcy;&softcy;
                | &quot;.
                br
                br
                div
                    img(style='display: block; margin-left: auto; margin-right: auto;' src='https://proxy6.net/uploads/img/20180127/bc0405099d25cf7d02bae22d6b3cda64.jpg')
                br
                | &Mcy;&ycy; &vcy;&icy;&dcy;&icy;&mcy; &chcy;&tcy;&ocy; &vcy;&scy;&iocy; &pcy;&rcy;&ocy;&shcy;&lcy;&ocy; &ucy;&scy;&pcy;&iecy;&shcy;&ncy;&ocy;.
                br
                br
                div
                    img(style='display: block; margin-left: auto; margin-right: auto;' src='https://proxy6.net/uploads/img/20180127/e8aa00d0c65456e500b84cb786c4da0d.jpg')
                br
                | &Tcy;&iecy;&pcy;&iecy;&rcy;&softcy; &pcy;&ucy;&bcy;&lcy;&icy;&kcy;&acy;&tscy;&icy;&icy; &bcy;&ucy;&dcy;&ucy;&tcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy;&softcy;&scy;&yacy; &scy; &dcy;&acy;&ncy;&ncy;&ocy;&gcy;&ocy; IP. &Ncy;&acy; &ecy;&tcy;&ocy;&mcy; &ncy;&acy;&scy;&tcy;&rcy;&ocy;&jcy;&kcy;&acy; &zcy;&acy;&vcy;&iecy;&rcy;&shcy;&iecy;&ncy;&acy;.
                .blog-tag.mt-3
                    span
                        i.fa.fa-tags
                    span.ml-3
                        a(href="#" title="").orange.ml-2 brobot
                        a(href="#" title="").orange.ml-2 Читать далее
                        a(href="#" title="").orange.ml-2 Читать далее
                .blog-time.mt-3
                    span
                        i.fa.fa-clock-o.mr-3
                        | 20.03.2018
        .container
            h1.title-component-h1 Bài viết liên quan
            .row.mt-5
                each item in [1,2,3,4,5,6]
                    .col-lg-4.mb-4.col-md-6
                        +CardComponent( { className:'related-post shadow', title:'Рекомендации по аккаунтам Instagram', desc:'ля защиты своего аккаунта Instagram от бана, также блокировки на действия, вам необходимо выполнять предоставленные рекомендации. Выполняя их, можно продлить работу вашего аккаунта.', src:'https://images.nxbxaydung.com.vn/Thumbs/2021/10/7/image-2021100710013813.jpg'} )