extends includes/layouts/Layout.pug

block pages
    .Contacts.pt-5.pb-5
        .container
            ul.Breadcrumb
                li.Breadcrumb-item(aria-current='page')
                    a(href="#") Home
                li.Breadcrumb-item.active(aria-current='page')
                    a(href="#") Contact
            .row
                .col-lg-6.mb-2.mb-lg-0.mt-5.mt-lg-0
                    .info-contact
                        p
                            b Name company
                            span.ml-3 PROXY
                        p
                          b Email
                          span.ml-3 Linhbq68@wru.vn
                        p
                          b Phone
                          span.ml-3 0904506621
                        p
                            b Address
                            span.ml-3 Ngõ 31 cầu giấy ,Hà Nội
                .col-lg-6
                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9822429853607!2d105.7955849154025!3d21.033396492994875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab47b42f0543%3A0x85522387d91f54d4!2zxJAuIEPhuqd1IEdp4bqleSwgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1663427036330!5m2!1svi!2s' width='100%' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')