extends includes/layouts/Layout.pug

block pages
    .partner-ship.pt-5.pb-5
        .container
           h1.title-component-h1 Partnership program
            .content-ckeditor.mt-5
               | Our partnership program allows you to gain
               strong 30%
               |  from payments of the recruited clients.
               br
               | To join our partnership program you just need:
               br
               ul
                   li
                       strong To recruit new clients with the referral link&nbsp;
                       | - the user registered from your link is permanently assigned to you and from all his payments you will be paid a percentage;
                   li
                       strong Distribute a coupon for a discount
                       |  - the user who used your coupon receives a 5% discount on the purchase and assigned to you and from all his payments you will be paid a percentage.
               | Partnership bonus can be used for payments of our services or you can withdraw it by WebMoney (WMZ), QIWI, Payeer.
               br
               br
               strong Advantages of our partnership&nbsp;program:
               br
               ul
                   li High interest rate: 30%;
                   li
                       | Partnership bonus can be used for payments of our services or you can withdraw it;
                   li No minimum cashout;
                   li Daily order payments.
               br
               strong Rules:
               br
               ul
                   li
                       | It is forbidden to register multi-accounts in order to receive partner payments, i.e. You can not be a referral to yourself.