extends includes/layouts/Layout.pug

block pages
    .term-of-use.pt-5.pb-5
        .container
            h1.title-component-h1 TERMS OF USE
            .content-ckeditor.mt-5
                strong Public offer:
                    br
                    br
                    | Products are provided by the PROXY6.net service according to the principle &quot;as is&quot; and the service does not bear any responsibility for causing or causing harm to the User, his information or business due to the use or inability to use the products of the service.
                    br
                    br
                    strong On our servers are prohibited:
                    br
                    ul
                        li Fraud, burglary, insults, threats and slander;
                        li Password selection (bruteforce), port vulnerability scanning;
                        li Creating phishing sites;
                        li
                            | Spam (including spam on forums, sites, blogs), any activity that can lead to the IP address of the server in the blacklist (BlockList.de, SpamHaus, StopForumSpam, SpamCop, etc.);
                        li E-mail newsletter;
                        li
                            | Distribution of malware (viruses, trojans and anything that can affect the operation of the software);
                        li Hacking sites and finding their vulnerabilities (including sql-inj);
                        li
                            | Distribution of materials without the rightholder&apos;s knowledge (Video, music, software, etc.);
                        li
                            | Violation of the laws of the country in which the server is located to which you are connecting.
                    p
                        span(style='color: #ff0000;')
                            | If you commit illegal actions, you are fully personally, administratively and criminally responsible for all actions and their consequences..
                    p
                        | In case of violation of the rules of use, the service reserves the right to unilaterally terminate the customer service without the possibility of recovery.
