mixin Pagination({ defaultActive = 1 })
  ul.Pagination.d-flex.align-items-center.justify-content-center.w-100
    li.Pagination-item.btn
      a(href="#") 
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.79688 12.0312C7.66016 12.168 7.66016 12.3594 7.79688 12.4961L11.8164 16.543C11.9258 16.6797 12.1445 16.6797 12.2812 16.543L12.8008 15.9961C12.9375 15.8594 12.9375 15.668 12.8008 15.5312L9.57422 12.25L12.8008 8.99609C12.9375 8.85938 12.9375 8.64062 12.8008 8.53125L12.2812 7.98438C12.1445 7.84766 11.9258 7.84766 11.8164 7.98438L7.79688 12.0312ZM12.1719 12.4961L16.1914 16.543C16.3008 16.6797 16.5195 16.6797 16.6562 16.543L17.1758 15.9961C17.3125 15.8594 17.3125 15.668 17.1758 15.5312L13.9492 12.25L17.1758 8.99609C17.3125 8.85938 17.3125 8.64062 17.1758 8.53125L16.6562 7.98438C16.5195 7.84766 16.3008 7.84766 16.1914 7.98438L12.1719 12.0312C12.0352 12.168 12.0352 12.3594 12.1719 12.4961Z" fill="#91909A"/></svg>
    li.Pagination-item.btn
      a(href="#") 
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.48438 12.0312C9.34766 12.168 9.34766 12.3594 9.48438 12.4961L13.5039 16.543C13.6133 16.6797 13.832 16.6797 13.9688 16.543L14.4883 15.9961C14.625 15.8594 14.625 15.668 14.4883 15.5312L11.2617 12.25L14.4883 8.99609C14.625 8.85938 14.625 8.64062 14.4883 8.53125L13.9688 7.98438C13.832 7.84766 13.6133 7.84766 13.5039 7.98438L9.48438 12.0312Z" fill="#91909A"/></svg>

    each item in [1,2,'...',3,4]
      li.Pagination-item(class=`${item === defaultActive ? 'active' : ''}`)
        a(href="#")= item

    li.Pagination-item.btn
      a(href="#") 
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.4883 12.4961C14.625 12.3594 14.625 12.168 14.4883 12.0312L10.4961 7.98438C10.3594 7.84766 10.1406 7.84766 10.0312 7.98438L9.48438 8.53125C9.34766 8.64062 9.34766 8.85938 9.48438 8.99609L12.7109 12.25L9.48438 15.5312C9.34766 15.668 9.34766 15.8594 9.48438 15.9961L10.0312 16.543C10.1406 16.6797 10.3594 16.6797 10.4961 16.543L14.4883 12.4961Z" fill="#91909A"/></svg>

    li.Pagination-item.btn
      a(href="#") 
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.1758 12.4961C17.3125 12.3594 17.3125 12.168 17.1758 12.0312L13.1836 7.98438C13.0469 7.84766 12.8281 7.84766 12.7188 7.98438L12.1719 8.53125C12.0352 8.64062 12.0352 8.85938 12.1719 8.99609L15.3984 12.25L12.1719 15.5312C12.0352 15.668 12.0352 15.8594 12.1719 15.9961L12.7188 16.543C12.8281 16.6797 13.0469 16.6797 13.1836 16.543L17.1758 12.4961ZM12.8008 12.0312L8.80859 7.98438C8.67188 7.84766 8.45312 7.84766 8.34375 7.98438L7.79688 8.53125C7.66016 8.64062 7.66016 8.85938 7.79688 8.99609L11.0234 12.25L7.79688 15.5312C7.66016 15.668 7.66016 15.8594 7.79688 15.9961L8.34375 16.543C8.45312 16.6797 8.67188 16.6797 8.80859 16.543L12.8008 12.4961C12.9375 12.3594 12.9375 12.168 12.8008 12.0312Z" fill="#91909A"/></svg>
