mixin SelectCustom()
    .Select-custom
        .dropdownWrapper
            .dropdown
            ul.dropdown-itemsWrapper.inactive
                li(data-option='1')
                    img(src="./assets/images/vietnam-flag.png" width="16px")
                    |Australia
                li(data-option='2')
                    img(src="./assets/images/vietnam-flag.png" width="16px")
                    | United
                li(data-option='3')
                    img(src="./assets/images/vietnam-flag.png" width="16px")
                    | London
                li(data-option='4')
                    img(src="./assets/images/vietnam-flag.png" width="16px")
                    | Brazil
                li(data-option='5')
                    img(src="./assets/images/vietnam-flag.png" width="16px")
                    | UK
                li(data-option='6')
                    img(src="./assets/images/vietnam-flag.png" width="16px")
                    | Viet Nam
            input(type='hidden' value='null')